@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
    font-family: Avenir;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: Lato Light;
    src: url(fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato Hairline;
    src: url(fonts/Lato-Hairline.ttf);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    transition-duration: .3s;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.6;
    overflow-y: hidden;
    overflow-x: hidden;
}

::selection {
    color: #ecf0f1;
    background-color: #3498db;
}

p {
    font-family: Avenir;
    font-size: 25px;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: color .3s ease-in-out;
    color: #fff;
}

p > a {
    color: #26c281;
}

p > a:hover {
    color: #049372;
}

a:active {
    color: #049372;
}

button:focus,
input:focus {
    outline: none;
}

#outer {
    height: 100%;
    position: relative;
}

#nav,
.section,
#small-menu {
    width: 100%;
    padding-top: 20px;
    font-family: Avenir;
}

#nav {
    position: absolute;
    z-index: 5;
    text-align: center;
}

#nav,
#small-menu {
    letter-spacing: 3px;
    font-size: 15px;
}

#small-menu {
    line-height: 2.5;
    font-size: 20px;
    position: relative;
    width: 100%;
    padding: 25px 0;
    border-bottom: 1px solid #222;
    background-color: #2c3e50;
    display: none;
}

#small-menu > a,
#small-menu > div {
    display: block;
}

#small-menu > a,
#icons > a > i {
    color: #fff;
}

#nav-left {
    float: left;
    padding-left: 30px;
}

#nav-left svg {
    max-width: 60px;
    max-height: 50px;
    margin-left: 10px;
}

#nav-right {
    padding: 10px;
    cursor: pointer;
    color: #fff;
    display: inline;
    float: right;
    padding-right: 50px;
    font-size: 17px;
}

#nav-right a {
    display: inline;
    padding-left: 20px;
}
/* Hamburger icon styling */

#hamburger {
    width: 50px;
    height: 37.5px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    float: right;
    margin-right: 35px;
    margin-top: 6px;
    display: none;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(even) {
    left: 50%;
    border-radius: 0 7.5px 7.5px 0;
}

#hamburger span:nth-child(odd) {
    left: 0px;
    border-radius: 7.5px 0 0 7.5px;
}

#hamburger span:nth-child(1),
#hamburger span:nth-child(2) {
    top: 0px;
}

#hamburger span:nth-child(3),
#hamburger span:nth-child(4) {
    top: 15px;
}

#hamburger span:nth-child(5),
#hamburger span:nth-child(6) {
    top: 30px;
}

#hamburger.open span:nth-child(1),
#hamburger.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(2),
#hamburger.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#hamburger.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#hamburger.open span:nth-child(5) {
    left: 5px;
    top: 22px;
}

#hamburger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 22px;
}
/* End of nav */

#content {
    height: 100%;
}

#rest,
#container {
    height: auto;
    width: 100%;
}

#container {
    position: absolute;
}

#front-sec,
#rest {
    clip: rect(auto, auto, auto, auto);
    position: absolute;
}

.section {
    height: 100vh;
    display: flex;
    display: -webkit-flex;
}

.sidebar {
    position: fixed;
    right: 0;
    width: 200px;
    height: 40%;
    top: 25%;
    display: flex;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    z-index: 1;
    padding-right: 10px;
}

.white .dot {
    background-color: #fff;
}

.green .dot {
    background-color: #15a085;
}

.dot {
    height: 5px;
    width: 5px;
    border-radius: 5px;
    margin: auto 0;
    margin-left: 145px;
}

.sidebar .node-ctr {
    margin: auto;
    width: 100%;
}

.sidebar .node {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    cursor: pointer;
    transform: rotateZ(45deg);
    position: absolute;
    right: 50px;
}

.white .node {
    border: 3px solid #fff;
}

.green .node {
    border: 3px solid #15a085;
}

.sidebar a {
    font-family: Lato Hairline;
    font-size: 15px;
    float: right;
    margin-right: 90px;
    opacity: 0;
}

.green a {
    color: #15a085;
}

.sidebar .node:hover {
    transform: rotateZ(0deg);
}

.white .node:hover {
    background-color: #fff;
}

.green .node:hover {
    background-color: #15a085;
}

#front-sec {
    background: linear-gradient(#26c281, #15a085);
    background: -webkit-linear-gradient(#26c281, #15a085);
    background: -moz-linear-gradient(#26c281, #15a085);
    background: -o-linear-gradient(#26c281, #15a085);
    position: relative;
    display: flex;
}

#lines {
    margin: auto;
    color: #fff;
    font-family: Lato Hairline;
    font-size: 20px;
    letter-spacing: 2px;
}

#lines h1 {
    opacity: 0;
}

#devices {
    margin-left: -100px;
}

#lines .logo {
    position: absolute;
    width: 100vw;
    cursor: default;
}

#logomac {
    max-height: 200px;
    left: 0;
    margin-top: 85px;
    margin-left: 10px;
}

#logophone {
    max-height: 100px;
    left: -330px;
    margin-top: 260px;
}

#profile {
    z-index: 2;
}

#info-sec,
#process-sec {
    width: 95%;
    box-sizing: border-box;
}

#process-sec > #title {
    width: 100%;
}

#process-sec > h2 {
    font-size: 50px;
    font-family: Lato Hairline;
    letter-spacing: 3px;
    width: 100%;
}

#process-sec {
    padding: 0;
    height: auto;
    display: block;
    padding-bottom: 50px;
}

#process-ctr {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

.step {
    max-width: 33%;
    height: 50%;
    text-align: center;
}

.step h1 {
    font-family: Lato Hairline;
    letter-spacing: 4px;
}

.step p {
    font-family: Open Sans;
    font-size: 15px;
    padding: 0 20%;
}

.step img {
    max-height: 250px;
}

#research h1 {
    color: #15a085;
}

#drafting h1 {
    color: #e74c3c;
}

#feedback h1 {
    color: #3498db;
}

#reworking h1 {
    color: #8e44ad;
}

#research img {
    margin-left: 21.5%;
}

#polishing h1 {
    color: #d2527f;
}

#shipping h1 {
    color: #f89406;
}

#info-content {
    margin: auto;
}

#profile {
    max-height: 270px;
}

#info-sec h1,
#hiring-sec h1,
#title {
    line-height: 1;
    letter-spacing: 5px;
    font-size: 40px;
    font-family: Lato Light;
    margin-bottom: 40px;
}

#info-sec p,
#hiring-sec p {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 90px;
    font-family: Open Sans;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

#illustrations-disp {
    padding: 110px 0;
    width: 100%;
}

#illustrations-ctr {
    padding: 0 50px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

.illustration {
    display: table-cell;
    max-width: 25%;
    width: auto;
    height: auto;
    margin-bottom: -8px;
}

.illustration img {
    width: 100%;
    max-height: 300px;
    cursor: pointer;
}

#illustration-large {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    display: none;
}

#illustration-large > div {
    width: 80%;
    height: 75%;
    margin: auto;
}

#il-footer {
    padding: 0 10%;
    display: flex;
    line-height: 1;
}

#il-footer div {
    width: 50%;
}

#il-footer #left {
    text-align: left;
}

#il-footer #right {
    text-align: right;
    padding-top: 5px;
}

#il-footer h2 {
    display: inline;
    font-family: Lato Hairline;
    cursor: pointer;
}

#il-footer h1 {
    margin-top: 5px;
    font-size: 20px;
    font-family: Lato Light;
}

#il-footer h5 {
    margin-top: -5px;
    color: #777;
}

#illustration-large img {
    max-width: 80%;
    height: auto;
}

#projects-sec {
    padding-top: 120px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

.project {
    width: 80%;
    padding: 0 0 60px 10%;
}

.project img {
    max-width: 100%;
    box-shadow: 0 0 8px #888;
}

.project p,
.project h1,
.project a {
    text-align: left;
    line-height: 1;
}

.project p,
.project a {
    font-size: 15px;
}

.project h1 {
    font-family: Lato Hairline;
}

.project a {
    cursor: pointer;
    color: #222;
    float: left;
}

.project a:hover {
    color: #15a085;
    background-color:
}

#hiring-sec {
    padding: 100px 0;
    background-color: #15a085;
    color: #fff;
}

@media screen and (min-width: 1900px) {
    .illustration {
        max-width: 20%;
    }
    #process-sec {
        width: 95%;
    }
}

@media screen and (max-width: 1480px) {
    .illustration {
        max-width: 33%;
    }
    .step {
        max-width: 50%;
    }
    .step p {
        font-size: 12px;
    }
}

@media screen and (max-width: 1015px) {
    .illustration {
        max-width: 50%;
    }
}

@media screen and (max-width: 700px) {
    #profile {
        max-height: 170px;
        margin-bottom: -10px;
    }
    #front-sec {
        background-color: none;
    }
    #lines {
        width: 100%;
    }
    #lines #devices {
        max-width: 250px;
        margin-left: 0;
    }
    #logomac {
        max-width: 75px;
        margin-left: calc(50% - 17.5px);
        margin-top: 130px;
    }
    #logophone {
        display: none;
    }
    #info-sec h1,
    #hiring-sec h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    #info-sec p,
    #hiring-sec p,
    #lines h1 {
        font-size: 14px;
    }
    #info-sec p,
    #hiring-sec p {
        padding: 0 20px;
        text-align: justify;
    }
    #hiring-sec {
        padding: 20px 0;
    }
    #lines h1 {
        display: none;
    }
    #nav svg {
        margin-left: -10px;
    }
    #process-sec {
        width: 100%;
    }
    #process-sec img {
        max-height: 20vh;
    }
    #research img {
        margin-left: 80px;
    }
    #illustrations-ctr {
        padding: 0 30px;
    }
    .illustration,
    .step {
        min-width: 100%;
    }
    .illustration {
        display: block;
        max-height: 400px;
    }
    #illustrations-ctr {
        display: block;
        justify-content: center;
        -webkit-justify-content: center;
        flex-flow: nowrap;
        -webkit-flex-flow: nowrap;
        align-content: center;
        -webkit-align-content: center;
    }
    .sidebar {
        display: none;
    }
    .project h1 {
        font-size: 20px;
    }
}
