@font-face {
    font-family: Joe;
    src: url(fonts/Slim-Joe.otf);
}

@font-face {
    font-family: John;
    src: url(fonts/Big-John.otf);
}

@font-face {
    font-family: Dense;
    src: url(fonts/Dense-Regular.otf);
}

@font-face {
    font-family: Avenir;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@keyframes slideRight {
    0% {
        transform: translateX(-220px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        width: 0;
    }
    100% {
        width: 300px;
    }
}

html,
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}

p {
    font-family: Avenir;
    font-size: 1.5vw;
    line-height: 2.5vw;
}

a {
    text-decoration: none;
    color: #4d74b9;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

a:hover {
    color: #2b7dde;
}

a:active {
    color: #3498db;
}

.page {
    box-sizing: border-box;
    z-index: -5;
}

#page1 {
    height: 90vh;
}

#page1 {
    position: relative;
}

#page2 {
    background-color: #4d74b9;
    background-image: url(imgs/angular-background.png);
    color: #ecf0f1;
    background-position: 0.5% 6%;
    padding-bottom: 10vh;
}

#page3 {
    background-color: rgba(236, 240, 241, 1.0);
    padding-bottom: 15vh;
}

.title {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    float: left;
}

#page1 img {
    position: absolute;
    width: 35vh;
    left: calc(50% - 17.5vh);
    margin-top: 35vh;
}

#left {
    background-color: #4d74b9;
}

#right {
    background-color: #ecf0f1;
}

.h1-wrap {
    margin-top: 20vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title h1 {
    margin: 0;
    font-size: 4vh;
}

#left h1 {
    animation: slideLeft .7s linear 1s 1 forwards;
    width: 0;
    font-family: Joe;
    text-align: right;
    float: right;
    color: #ecf0f1;
}

#right h1 {
    animation: slideRight .7s linear 1s 1 forwards;
    transform: translateX(-220px);
    float: left;
    font-family: John;
    color: #4d74b9;
}

.triangle {
    width: 0;
    height: 0;
}

#t1-left {
    margin-left: calc(50% - 7.5vw);
    border-left: 7.5vw solid transparent;
    border-top: 6vw solid #4d74b9;
}

#t1-right {
    margin-top: -6vw;
    margin-left: 50vw;
    border-right: 7.5vw solid transparent;
    border-top: 6vw solid #ecf0f1;
}

h2 {
    font-family: John;
    font-size: 4vw;
    margin-bottom: -1vh;
    margin-top: 8vh;
}

hr {
    width: 200px;
    color: #ecf0f1;
    background-color: #ecf0f1;
    height: 0.7vh;
    border: 0;
}

#page2 p {
    margin-top: 4vh;
    width: 66vw;
    margin-left: 17vw;
}

#page2 h2:last-of-type {
    margin-bottom: 4vh;
}

.skill-ctnr {
    margin: 3vh 20vw 0 20vw;
    display: table;
}

#sc1 {
    width: 60vw;
}

#sc2 {
    width: 40vw;
    margin-left: 30vw;
}

.skill-ctnr div {
    display: table-cell;
    margin-bottom: 3vh;
    float: left;
}

#sc1 div {
    width: calc(100%/3);
}

#sc2 div {
    width: 50%;
}

.non-cap img {
    height: 13vh;
}

.cap img {
    height: 12.6vh;
}

#t2,
#t3 {
    border-right: 7.5vw solid transparent;
    border-left: 7.5vw solid transparent;
    margin-left: calc(50% - 7.5vw);
}

#t2 {
    border-top: 6vw solid #2b7dde;
}

#t3 {
    border-top: 6vw solid #ecf0f1;
}

#page3 p {
    margin: 4vh 17vw 0 17vw;
}

#page3 img {
    margin-top: 10vh;
    height: 25vh;
}

#page4 {
    background-color: #4d74b9;
    height: 50%;
    color: #ecf0f1;
}

#page4 h2 {
    margin-top: 10vh;
}

#page4 p {
    margin: 4vh 17% 5vh 17%;
}

#page4 a {
    color: #ecf0f1;
}

#page4 a:hover {
    color: #3498db;
}

#page4 a:active {
    color: #ecf0f1;
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 2.5vw;
    }
    p {
        font-size: 1.2vw;
        line-height: 2vw;
    }
    #page1 img {
        width: 40vh;
        left: calc(50% - 20vh);
    }
}

@media screen and (max-width: 800px) {
    #page1 {
        height: 75vh;
    }
    .h1-wrap {
        margin-top: 15vh;
    }
    #page1 img {
        margin-top: 25vh;
    }
    #page1 h1 {
        animation: none;
        width: auto;
        font-size: 3.2vh;
    }
    #right h1 {
        margin-left: 0;
        transform: translateX(0);
    }
    .non-cap {
        height: 10vh;
    }
    .cap {
        height: 9.7vh;
    }
    #page3 img {
        height: 15vh;
    }
}